.five {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.five .line {
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #111;
}

.five .line:nth-child(1) {
    position: absolute;
    width: 25px;
    height: 25px;
    border-top: 2px solid gold;
    border-bottom: 2px solid gold;
    animation: anim4 800ms linear infinite;
}

.five .line:nth-child(2) {
border-left: 2px solid gold;
border-right: 2px solid gold;
animation: anim4 1200ms linear infinite;
}

@keyframes anim4 {
to {
    transform: rotate(360deg);
}
}

.card-wrap{
    border: 4px dashed #1FB264;
}

.wrap-width{
    width: 500px;
}


/* .img-preview {
width: 256px;
height: 256px;
position: relative;
border: 5px solid #F8F8F8;
box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
margin-top: 1em;
margin-bottom: 1em;    
}

.img-preview>div {
width: 100%;
height: 100%;
background-size: 256px 256px;
background-repeat: no-repeat;
background-position: center;
}

input[type="file"] {
    display: none; 
}

#btn-choose{
    display: inline-block;
    padding: 12px 30px;
    background: #39D2B4;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}

#btn-choose:hover{
    background: #34495E;
    color: #39D2B4;
}
/*
.loader {
border: 8px solid #f3f3f3; /* Light grey 
border-top: 8px solid #3498db; /* Blue 
border-radius: 50%;
width: 50px;
height: 50px;
animation: spin 1s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
} */