{% extends "base.html" %}{% block content %}
<center>
    <p class="text">Object Detection</p>
    <p>Upload an image to see object detection
    <div class="upload-form">
      <form action = "/uploader" method = "POST" 
        enctype = "multipart/form-data">
        <input type = "file" name = "file" />
        <input id="btn-detect" type = "submit" value="Detect"/>
      </form>
    </div>
    <div class="row">
      <div id="loader" class="five">
        <div class="line"></div>
        <div class="line"></div>
      </div>
    </div>
    <!-- <div>
        <img src="../static/images/dog.jpg" alt="">
    </div> -->
    <script src="../static/js/script.js"></script>
</center> 
{% endblock %}