{% extends "base.html" %}
{% block head %}<title>Detection</title>{% endblock %}
{% block content %}
<!-- <p class="text-left">{{ fname }} successfully uploaded.</p> -->
<div class="d-flex flex-column justify-content-center">

    <div class="row mx-auto mt-1 mb-3">
        <div class="upload-form card-wrap wrap-width">
            <form action = "/uploader" method = "POST"
                enctype = "multipart/form-data" class="d-flex flex-column justify-content-center align-items-center">
                <div class="mx-auto mt-3 mb-4">
                    <input id="btn-choose" type = "file" name = "file" />
                </div>
                
                <div class="">
                    <input name="" id="btn-detect" class="btn btn-success btn-lg rounded-pill mb-4" type="submit" value="Detect">
                </div>
            </form>
        </div>
    </div>

    <div class="row mx-auto my-3">
        <div class="card">
            <div class="card-header text-center">
                <h4>Original Image</h4>
            </div>
            <div class="card-body">
                <img src="../static/uploads/{{ fname }}" class="card-img-bottom" alt="Original Image">
            </div>
        </div>
    </div>

    

    <div class="row mx-auto my-3">
        <div class="card">
            <div class="card-header text-center">
                <h4>Detected Image</h4>
            </div>
            <div class="card-body">
                <img src="../static/detections/{{display_detection}}" class="card-img-bottom" alt="Detected Image">
            </div>
        </div>
    </div>
</div>
 </div>
{% endblock %} 

